/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../compass/sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../compass/sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  background: #e3e5e8;
  overflow: hidden;
  z-index: 1;
}

/* line 13, ../../compass/sass/screen.scss */
body {
  font-family: Arial, Tahoma;
}

/* line 15, ../../compass/sass/screen.scss */
p {
  margin: 0 !important;
  padding: 0;
}

/* line 20, ../../compass/sass/screen.scss */
h1.red {
  color: #eb4a3f;
  font-size: 25px;
}

/* line 28, ../../compass/sass/screen.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 32, ../../compass/sass/screen.scss */
.selectbox-wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 748px;
  padding: 20px 15px 0 15px;
}

/* line 41, ../../compass/sass/screen.scss */
.selectbox {
  overflow: hidden;
  background: url(../images/down-arrow.jpg) no-repeat right white;
  border-radius: 7px;
  border: 0;
}

/* line 47, ../../compass/sass/screen.scss */
.selectbox select {
  background: transparent;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 1;
  color: #eb4a3f;
  border: 0;
  -webkit-appearance: none;
}

/* line 61, ../../compass/sass/screen.scss */
header {
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
  background: #eb4a3f;
  z-index: 20;
}

/* line 73, ../../compass/sass/screen.scss */
header ul {
  display: table;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 82, ../../compass/sass/screen.scss */
header li {
  display: table-cell;
  position: relative;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  vertical-align: middle;
}

/* line 92, ../../compass/sass/screen.scss */
header li:nth-of-type(odd) {
  width: 50px;
}

/* line 96, ../../compass/sass/screen.scss */
header .icon {
  position: relative;
  top: 3px;
  font-size: 25px;
}

/* line 105, ../../compass/sass/screen.scss */
#wrapper-container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}

/* line 114, ../../compass/sass/screen.scss */
#wrapper-content {
  position: absolute;
  top: 50px;
  right: 0px;
  bottom: 72px;
  left: 0px;
  margin: 0px;
  z-index: 3;
  overflow: hidden;
}

/* line 125, ../../compass/sass/screen.scss */
#load-content {
  position: relative;
  top: 0;
  margin: 0 auto;
  padding: 0;
  z-index: 7;
  overflow: auto;
}

/* line 134, ../../compass/sass/screen.scss */
#load-content article {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 6;
}

/* line 141, ../../compass/sass/screen.scss */
#cog_nav {
  cursor: pointer;
}

/* line 148, ../../compass/sass/screen.scss */
footer {
  display: block;
  position: absolute;
  width: 100%;
  height: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eb4a3f;
  z-index: 10;
}

/* line 160, ../../compass/sass/screen.scss */
footer ul {
  display: table;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* line 169, ../../compass/sass/screen.scss */
footer ul li {
  display: table-cell;
  position: relative;
  width: 33.33%;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  vertical-align: middle;
}

/* line 180, ../../compass/sass/screen.scss */
footer ul li:nth-of-type(2n) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* line 185, ../../compass/sass/screen.scss */
footer ul li:hover {
  background: #ac372f;
}

/* line 192, ../../compass/sass/screen.scss */
ul.list {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 748px;
  padding: 20px 15px 0 15px;
}

/* line 200, ../../compass/sass/screen.scss */
ul.list li {
  display: table;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font: normal 16px Helvetica, Arial, sans-serif;
  list-style-type: none;
}

/* line 209, ../../compass/sass/screen.scss */
ul.list li:not(:first-child) {
  padding-top: 20px;
}

/* line 212, ../../compass/sass/screen.scss */
ul.list.directory li {
  border-radius: 7px;
  background: #FFF;
  padding: 10px 5px 10px 5px;
}

/* line 217, ../../compass/sass/screen.scss */
ul.list.directory li:not(:first-child) {
  margin-top: 10px;
}

/* line 223, ../../compass/sass/screen.scss */
.portrait-block {
  display: table-cell;
  position: relative;
  width: 112px;
  height: 112px;
  vertical-align: middle;
  z-index: 10;
}

/* line 231, ../../compass/sass/screen.scss */
.portrait-block .bg-extension {
  display: block;
  position: relative;
  height: 94px;
  width: 30px;
  left: 90px;
  background: white;
  z-index: 18;
  border-bottom: 1px solid #aaa;
}

/* line 241, ../../compass/sass/screen.scss */
.portrait-block img {
  display: block;
  position: absolute;
  top: 0px;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 20;
}

/* line 250, ../../compass/sass/screen.scss */
.portrait-block img.rounded {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  box-shadow: 0px 0px 0pt 3pt #e3e5e8;
}

/* line 260, ../../compass/sass/screen.scss */
.block-wrapper {
  display: block;
  position: relative;
  height: 94px;
  top: 9px;
  margin: 0;
  background: white;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: 1px solid #aaa;
}

/* line 271, ../../compass/sass/screen.scss */
.block-table {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 281, ../../compass/sass/screen.scss */
.text-block {
  display: table-cell;
  position: relative;
  width: 100%;
  padding: 0 0 0 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: lighter;
  font-size: 30px;
  z-index: 9;
}

/* line 292, ../../compass/sass/screen.scss */
.text-block .icon {
  padding-right: 7px;
}

/* line 295, ../../compass/sass/screen.scss */
.text-block .title {
  color: #eb4a3f;
  font-weight: lighter;
  font-size: 25px;
}

/* line 300, ../../compass/sass/screen.scss */
.text-block .desc {
  color: #545454;
  font: normal 16px Helvetica, Arial, sans-serif;
  padding-top: 9px;
}

/* line 309, ../../compass/sass/screen.scss */
.icon-block {
  display: table-cell;
  position: relative;
  padding-top: 2px;
  text-align: left;
  vertical-align: middle;
  font-weight: lighter;
  color: #eb4a3f;
  z-index: 9;
}

/* line 319, ../../compass/sass/screen.scss */
.icon-block.left {
  padding-left: 10px;
  font-size: 25px;
}

/* line 323, ../../compass/sass/screen.scss */
.icon-block.right {
  padding-right: 10px;
  font-size: 30px;
}

/* line 331, ../../compass/sass/screen.scss */
.availability-block {
  display: table-cell;
  position: relative;
  vertical-align: top;
  z-index: 10;
}

/* line 337, ../../compass/sass/screen.scss */
.availability-block > p {
  display: block;
  height: 30px;
  font-size: 11px;
  color: white;
  font-style: normal;
  text-align: center;
  padding: 7px 8px 0 8px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* line 348, ../../compass/sass/screen.scss */
p.available {
  background: #23cdb7;
}

/* line 351, ../../compass/sass/screen.scss */
p.unavailable {
  background: #888;
}

/* line 358, ../../compass/sass/screen.scss */
.context-wrapper {
  display: block;
  width: 100%;
  max-width: 720px;
  padding: 0 15px 15px 15px;
  margin: 0 auto;
}

/* line 365, ../../compass/sass/screen.scss */
.context-wrapper:first-of-type {
  padding-top: 15px;
}

/* line 368, ../../compass/sass/screen.scss */
.context-block {
  display: block;
  width: 100%;
  border-radius: 7px;
  padding: 0 15px 15px 15px;
  background: #FFF;
  border-bottom: 1px solid #aaa;
}
